


body
{
background-image:url(7.png); 
    background-attachment: fixed;

background-repeat: no-repeat;
    background-position: center;
    background-size: 900px 900px;
font-family: algerian, broadway, sans-serif;

 }



@font-face{
font-family:'roboto';
src:url(Roboto-Thin.ttf);
}


*{
font-family:roboto;
font-weight:bold;
font-size: 20px;
}

h1{

color:#eceff1;
font-size:50pt;
text-align:center;

}


form {
  max-width: 500px;
  margin: auto auto;
  padding: 5px 25px;
  background:#FF0000;
opacity: 0.6;
  color:#eceff1;
}




input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
  
  border: none;
  font-size: 20px;
  height: auto;
  font-weight:bold;
  padding: 8px;
  width: 100%;
  background-color: #eceff1;
  color:#212121;
  margin-bottom: 30px;
}


input[type="submit"],
input[type="reset"]{
border: none;
  font-size: 30px;
  height: auto;
  position:relative;
  padding: 5px;
  width: 100%;
  background-color: #cc0000;
  color:#eceff1  ;
  

}


label {
  display: block;
  margin-bottom: 5px;
  font-size:25px;
  font-weight:bold;
}
.aa{
    color:#eceff1;
    font-size: 30pt;
}
    
.te{
    border: none;
  font-size: 20px;
  height: auto;
  font-weight:bold;
  padding: 5px;
  width: 100%;
  background-color: #eceff1;
  color:#212121;
  margin-bottom: 30px;
}   

.mob1
{

 width:35px;
 padding:5px;
 font-size:18px;

 }
.mob2
{

 width:438px;
 padding:5px;
 font-size:20px;

 }
